{% extends "bootstrap/base.html" %} {% block title %}Form Data{% endblock %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<h3>POST using the form below:</h3>
<form class="form input-form" method="post" role="form" action="{{ url_for('input_form') }}"> {{ wtf.form_field(form.me) }} {{ wtf.form_field(form.nearby) }}
  <input type="submit" value="Submit"> </form>
<hr>
<table class="table">
  <tr>
    <td><strong>Me</strong></td>
    <td><strong>Nearby</strong></td>
    <td><strong>Date</strong></td>
    <td><strong>ObjectID</strong></td>
    <td></td>
  </tr>{% for entry in data %}
  <tr>
    <td><font color="{{ entry.color }}"> {{ entry.me }} </font></td>
    <td><font color="{{ entry.color }}"> {{ entry.nearby }} </font></td>
    <td><font color="{{ entry.color }}"> {{ entry.proximity_date }} </font></td>
    <td><font color="{{ entry.color }}"> {{ entry._id }} </font></td>
    <td>
      <form class="form delete-form" method="post" role="delete" action="{{ url_for('delete_form') }}">
        <input type="hidden" name="_id" value="{{ entry._id }}">
        <input type="submit" value="DELETE"> </form>
    </td>
  </tr> {% endfor %} </table> {% endblock %}
