{% extends "bootstrap/base.html" %} {% block title %}Form Data{% endblock %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<h3>POST using the form below:</h3>
<form class="form" method="post" role="form"> {{ wtf.form_field(form.me) }} {{ wtf.form_field(form.nearby) }}
  <input type="submit" value="Submit"> </form>
<br>
<br>
<table class="table">
  <tr>
    <td><strong>Me</strong></td>
    <td><strong>Nearby</strong></td>
    <td><strong>Date</strong></td>
    <td><strong>ObjectID</strong></td>
    <td></td>
  </tr>{% for entry in data %}
  <tr>
    <td> {{ entry.me }} </td>
    <td> {{ entry.nearby }} </td>
    <td> {{ entry.proximity_date }} </td>
    <td> {{ entry._id }} </td>
    <td> <form class="form" method="post" role="delete">
      <input type="hidden" name="_id" value="{{ entry._id }}">
      <input type="submit" value="DELETE"> </form> </td>
  </tr> {% endfor %} </table> {% endblock %}
